body	{
	margin: 0;
	background-color: yellow;

}
.Title	{
	color: black;
	background-color: blue;
 	font-size: 36px;
 	text-align: center;
 	font-family: Arial;
}
.Passion	{
	color: black;
	text-align: left;
	font-size: 18px;
	font-family: Georgia;

}
.PassionDescription	{
	color: black;
	text-align: left;
	display: flex;
	font-size: 14px;
	font-family: Georgia;
	
}
.RecLeague	{
	color: black;
	text-align: left;
	font-size: 18px;
	font-family: Georgia;
}
.RecLeagueDescription	{
	color: black;
	text-align: left;
	display: flex;
	font-size: 14px;
	font-family: Georgia;
}
.HighSchoolCareer	{
	color: black;
	text-align: left;
	font-size: 18px;
	font-family: Georgia;
}
.HighSchoolCareerDescription	{
	color: black;
	text-align: left;
	display: flex;
	font-size: 14px;
	font-family: Georgia;
}
.CollegeCareer	{
	color: black;
	text-align: left;
	font-size: 18px;
	font-family: Georgia;
}
.CollegeCareerDescription	{
	color: black;
	text-align: left;
	display: flex;
	font-size: 14px;
	font-family: Georgia;
}

.column50{
	width:50%;
}

.column30{
	width:30%;
}