body	{
	margin: 0;
	background-color: purple;

}
.Title	{
	color: black;
	background-color: gold;
 	font-size: 36px;
 	text-align: center;
 	font-family: Arial;
}
.Background	{
	color: black;
	text-align: center;
	font-size: 18px;
	font-family: Arial black;

}
.BackgroundDescription	{
	color: gold;
	text-align: left;
	font-size: 14px;
	font-family: Georgia;
	
}
.AudioVisual	{
	color: black;
	text-align: center;
	font-size: 18px;
	font-family: Arial black;
}
.AudioVisualDescription	{
	color: gold;
	text-align: left;
	font-size: 14px;
	font-family: Georgia;
}
.ComputerHelpDesk	{
	color: black;
	text-align: center;
	font-size: 18px;
	font-family: Arial black;
}
.ComputerHelpDeskDescription	{
	color: gold;
	text-align: left;
	font-size: 14px;
	font-family: Georgia;
}
.Consulting	{
	color: black;
	text-align: center;
	font-size: 18px;
	font-family: Arial black;
}
.ConsultingDescription	{
	color: gold;
	text-align: left;
	font-size: 14px;
	font-family: Georgia;
}
