body	{
	background-color: black;
}

.Title	{
	color: black;
	background-color: blue;
 	font-size: 36px;
 	text-align: center;
 	font-family: Arial;

}
.Ridge	{
	color: red;
	text-align: left;
	font-size: 20px
}
.Nick	{
	color: red;
	text-align: left;
	font-size: 20px
}
.Aaron	{
	color: red;
	text-align: left;
	font-size: 20px
}
.Devonte	{
	color: red;
	text-align: left;
	font-size: 20px
}
.Email	{
	text-align: center;
	color: red;
}