body {
  margin: 0;
  background-color: lightgray;
}

.details {
  color: black;
  font-size: 18 px;
  font-family: Helvetica;
  margin-right: 10px;
  margin-left: 20px;
  width: 50%

}

.greyrow {
background-color: lightgray;
  display: inline-block;
margin: 20px;
  
  height: 100%
}

.image > img {
  border: 2px black;
  margin-left: 20px;
  width: 100%
  height: 100%
}

